kind: ReplicaSet
apiVersion: apps/v1
metadata:
  name: nginx-rs
  namespace: shubham-ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      name: nginx-rs
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80

# kubectl get replicasets -n shubham-ns
# RS do not have rolling updates feature